.searching {
    text-align: center;
    font-size: large;
}

.dot_flashing {
  position: relative;
  margin: auto;
  margin-top: 30px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite linear alternate;
  animation-delay: .5s;
}

.dot_flashing::before, .dot_flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot_flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 0s;
}

.dot_flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: black;
  color: black;
  animation: dotFlashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dotFlashing {
  0% {
    background-color: black;
  }
  50%,
  100% {
    background-color: lightgray;
  }
}

.message_format {
  list-style-type: none;
}

.message_form {
  margin-bottom: 15px;
}

.message_enter {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
  width: 85%;
  border-radius: 10px;
  border: solid;
  border-color: lightgray;
}

.message_submit {
  font-family: 'Raleway', sans-serif;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #258ef7;
  display: inline-block;
  width: 13.5%;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.leave {
  padding: 5px 10px 5px 10px;
  background-color: #f23333;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
  border: none;
}